# Junk operating system files
.DS_Store
Thumbs.db

# Sass cache directories
.sass-cache

# ExpressionEngine files that change on different environments
system/expressionengine/cache/current_version
system/expressionengine/cache/software_registration